<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a> <br>
  <a routerLink="/heroes">Heroes</a> <br>
  <a routerLink="/rxjstest">RxjsTest</a> <br>
  <a routerLink="/general">Products</a> <br>
  <a routerLink="/cart">
  	Cart
  </a> <br>
  <a routerLink="/shipping">
  	Shipping
  </a> <br>
  <a routerLink="/hook">Hook</a> <br>
  <a routerLink="/vote">Vote</a> <br>
  <a routerLink="/countdown">CountDown</a> <br>
  <a routerLink="/mission">Mission</a> <br>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
